@page "/EditCustomer/{Id:int}"



<div class="card  border-0 ">
    <div class="card-body">
        <RadzenBreadCrumb>

            <RadzenBreadCrumbItem Path="/CustomerIndex" Text="العملاء" />
            <RadzenBreadCrumbItem Icon="add" Text="تعديل عميل" />
        </RadzenBreadCrumb>

    </div>
</div>

<div class="row mt-3">
    <div class="card ">
        <div class="card-body">
            <EditForm Model="@customer" OnValidSubmit="EditCustomerFunction">
                <DataAnnotationsValidator />
                <ValidationSummary></ValidationSummary>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label> اسم العميل</label>
                        <InputText @bind-Value="customer.Name" class="form-control"></InputText>
                        <label> الايميل</label>
                        <InputText @bind-Value="customer.Email" class="form-control"></InputText>

                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label> رقم الجوال</label>
                        <RadzenNumeric class="form-control" Min="1" @bind-Value=@customer.Phone Placeholder="05xxxxxxxx" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                        <label>  الرقم الضريبي</label>
                        <InputNumber @bind-Value="customer.Vatnummber" class="form-control"></InputNumber>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>العنوان</label>
                        <InputTextArea rows="4" @bind-Value="customer.Address" class="form-control"></InputTextArea>
                    </div>
                </div>
                <div class="row mt-2 justify-content-lg-end gap-1">
                    <div class="col-lg-2 col-sm-6">
                        <input type="submit" value="حفظ" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <a href="CustomerIndex" class="btn btn-primary w-100">رجوع</a>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

